.feynman__link {
  position: absolute;
  top: 445px;
  right: 48px;
  color: #2f80ed;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-decoration: none;
  transition: opacity .8s linear;
}

.feynman__link:hover {
  opacity: .5;
}
